PORT=3001

# DATABASE CONFIG
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/runtimeops
DIRECT_URL=postgresql://postgres:postgres@localhost:5432/runtimeops

# REDIS CONFIG
REDIS_HOST=redis
REDIS_PORT=6379

# JWT CONFIG
# you can generate the tokens with cmd: openssl rand -base64 64 
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ISSUER=runtime_api
JWT_AUDIENCE=runtime_web
JWT_ACCESS_EXPIRES_IN=1d
